# Linear Regression

### Import Libraries and Data

In [1]:
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn
import statsmodels.api as sm
import statsmodels.formula.api as smf

from numpy.random import seed
seed(1)

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
train_df = pd.read_csv('H1.csv')
a=train_df.head()
b=train_df
b
b.sort_values(['ArrivalDateYear','ArrivalDateWeekNumber'], ascending=True)

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,0,212,2017,August,35,31,2,8,2,1,...,No Deposit,143,NULL,0,Transient,89.75,0,0,Check-Out,2017-09-10
40056,0,169,2017,August,35,30,2,9,2,0,...,No Deposit,250,NULL,0,Transient-Party,202.27,0,1,Check-Out,2017-09-10
40057,0,204,2017,August,35,29,4,10,2,0,...,No Deposit,250,NULL,0,Transient,153.57,0,3,Check-Out,2017-09-12
40058,0,211,2017,August,35,31,4,10,2,0,...,No Deposit,40,NULL,0,Contract,112.80,0,1,Check-Out,2017-09-14
40059,0,161,2017,August,35,31,4,10,2,0,...,No Deposit,69,NULL,0,Transient,99.06,0,0,Check-Out,2017-09-14

In [3]:
# Interval variables
leadtime = train_df['LeadTime']
arrivaldateyear = train_df['ArrivalDateYear']
arrivaldateweekno = train_df['ArrivalDateWeekNumber']
arrivaldatedayofmonth = train_df['ArrivalDateDayOfMonth']
staysweekendnights = train_df['StaysInWeekendNights']
staysweeknights = train_df['StaysInWeekNights']
adults = train_df['Adults']
children = train_df['Children']
babies = train_df['Babies']
isrepeatedguest = train_df['IsRepeatedGuest'] 
previouscancellations = train_df['PreviousCancellations']
previousbookingsnotcanceled = train_df['PreviousBookingsNotCanceled']
bookingchanges = train_df['BookingChanges']
agent = train_df['Agent']
company = train_df['Company']
dayswaitinglist = train_df['DaysInWaitingList']
adr = train_df['ADR']
rcps = train_df['RequiredCarParkingSpaces']
totalsqr = train_df['TotalOfSpecialRequests']

In [4]:
y1 = np.array(adr)

In [5]:
# Categorical variables
IsCanceled = train_df['IsCanceled']
arrivaldatemonth = train_df.ArrivalDateMonth.astype("category").cat.codes
arrivaldatemonthcat=pd.Series(arrivaldatemonth)
mealcat=train_df.Meal.astype("category").cat.codes
mealcat=pd.Series(mealcat)
countrycat=train_df.Country.astype("category").cat.codes
countrycat=pd.Series(countrycat)
marketsegmentcat=train_df.MarketSegment.astype("category").cat.codes
marketsegmentcat=pd.Series(marketsegmentcat)
distributionchannelcat=train_df.DistributionChannel.astype("category").cat.codes
distributionchannelcat=pd.Series(distributionchannelcat)
reservedroomtypecat=train_df.ReservedRoomType.astype("category").cat.codes
reservedroomtypecat=pd.Series(reservedroomtypecat)
assignedroomtypecat=train_df.AssignedRoomType.astype("category").cat.codes
assignedroomtypecat=pd.Series(assignedroomtypecat)
deposittypecat=train_df.DepositType.astype("category").cat.codes
deposittypecat=pd.Series(deposittypecat)
customertypecat=train_df.CustomerType.astype("category").cat.codes
customertypecat=pd.Series(customertypecat)
reservationstatuscat=train_df.ReservationStatus.astype("category").cat.codes
reservationstatuscat=pd.Series(reservationstatuscat)

In [6]:
x1 = np.column_stack((IsCanceled,marketsegmentcat,deposittypecat,customertypecat,rcps))
x1 = sm.add_constant(x1, prepend=True)

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
X_train, X_val, y_train, y_val = train_test_split(x1, y1)

### Linear Regression

In [9]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [10]:
results = sm.OLS(y_train,X_train).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.075
Model:                            OLS   Adj. R-squared:                  0.075
Method:                 Least Squares   F-statistic:                     488.1
Date:                Sun, 16 Apr 2023   Prob (F-statistic):               0.00
Time:                        22:07:37   Log-Likelihood:            -1.6516e+05
No. Observations:               30045   AIC:                         3.303e+05
Df Residuals:                   30039   BIC:                         3.304e+05
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         65.7002      1.689     38.888      0.000      62.389      69.012
x1            20.4041      0.825     24.729      0.000      18.787      22.021
x2             7.7552      0.263     29.475      0.000       7.240       8.271
x3           -28.8711      1.543    -18.713      0.000     -31.895     -25.847
x4            -3.4758      0.565     -6.155      0.000      -4.583      -2.369
x5            22.4069      0.997     22.480      0.000      20.453      24.361
==============================================================================
Omnibus:                     5565.608   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9812.265
Skew:                           1.195   Prob(JB):                         0.00
Kurtosis:                       4.457   Cond. No.                         24.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
reg = LinearRegression().fit(X_train, y_train)

In [12]:
reg.score(X_train, y_train)

0.07514128081763838

In [13]:
reg.coef_

array([  0.        ,  20.40413127,   7.75523305, -28.87109964,
        -3.47579735,  22.4069026 ])

In [14]:
reg.intercept_

65.70016261882765

In [15]:
predictions = reg.predict(X_val)

In [16]:
predictions

array([117.92886443, 117.92886443,  96.72109482, ...,  97.52473317,
        74.25903402,  78.53846972])

### Performance Against Validation Data

In [17]:
mean_absolute_error(y_val, predictions)

45.7428531536577

In [18]:
mean_squared_error(y_val, predictions)
math.sqrt(mean_squared_error(y_val, predictions))

59.29382937383335

In [19]:
np.mean(y_val)

94.62558861707438

In [20]:
np.mean(predictions)

94.91527050058373

### Performance Against Test Data

In [21]:
h2data = pd.read_csv('H2.csv')
a=h2data.head()
a

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-04-02

In [22]:
t_leadtime = h2data['LeadTime'] #1
t_arrivaldateyear = h2data['ArrivalDateYear']
t_arrivaldateweekno = h2data['ArrivalDateWeekNumber']
t_arrivaldatedayofmonth = h2data['ArrivalDateDayOfMonth']
t_staysweekendnights = h2data['StaysInWeekendNights'] #2
t_staysweeknights = h2data['StaysInWeekNights'] #3
t_adults = h2data['Adults'] #4
t_children = h2data['Children'] #5
t_babies = h2data['Babies'] #6
t_isrepeatedguest = h2data['IsRepeatedGuest'] #11
t_previouscancellations = h2data['PreviousCancellations'] #12
t_previousbookingsnotcanceled = h2data['PreviousBookingsNotCanceled'] #13
t_bookingchanges = h2data['BookingChanges'] #16
t_agent = h2data['Agent'] #18
t_company = h2data['Company'] #19
t_dayswaitinglist = h2data['DaysInWaitingList'] #20
t_adr = h2data['ADR'] #22
t_rcps = h2data['RequiredCarParkingSpaces'] #23
t_totalsqr = h2data['TotalOfSpecialRequests'] #24

In [23]:
# Categorical variables
t_IsCanceled = h2data['IsCanceled']
t_arrivaldatemonth = h2data.ArrivalDateMonth.astype("category").cat.codes
t_arrivaldatemonthcat = pd.Series(t_arrivaldatemonth)
t_mealcat=h2data.Meal.astype("category").cat.codes
t_mealcat=pd.Series(t_mealcat)
t_countrycat=h2data.Country.astype("category").cat.codes
t_countrycat=pd.Series(t_countrycat)
t_marketsegmentcat=h2data.MarketSegment.astype("category").cat.codes
t_marketsegmentcat=pd.Series(t_marketsegmentcat)
t_distributionchannelcat=h2data.DistributionChannel.astype("category").cat.codes
t_distributionchannelcat=pd.Series(t_distributionchannelcat)
t_reservedroomtypecat=h2data.ReservedRoomType.astype("category").cat.codes
t_reservedroomtypecat=pd.Series(t_reservedroomtypecat)
t_assignedroomtypecat=h2data.AssignedRoomType.astype("category").cat.codes
t_assignedroomtypecat=pd.Series(t_assignedroomtypecat)
t_deposittypecat=h2data.DepositType.astype("category").cat.codes
t_deposittypecat=pd.Series(t_deposittypecat)
t_customertypecat=h2data.CustomerType.astype("category").cat.codes
t_customertypecat=pd.Series(t_customertypecat)
t_reservationstatuscat=h2data.ReservationStatus.astype("category").cat.codes
t_reservationstatuscat=pd.Series(t_reservationstatuscat)

In [24]:
atest = np.column_stack((t_IsCanceled,t_marketsegmentcat,t_deposittypecat,t_customertypecat,t_rcps))
atest = sm.add_constant(atest, prepend=True)
btest = t_adr
btest=btest.values

In [25]:
bpred = reg.predict(atest)
bpred

array([ 97.52473317, 125.68409748, 125.68409748, ..., 105.27996622,
       105.27996622, 105.27996622])

In [26]:
mean_absolute_error(btest, bpred)

28.586037251809017

In [27]:
print('mse (sklearn): ', mean_squared_error(btest,bpred))

mse (sklearn):  1828.7160208871592

In [28]:
math.sqrt(mean_squared_error(btest, bpred))

42.763489344149164

In [29]:
np.mean(btest)

105.30446539770578

In [30]:
np.mean(bpred)

101.36936304146307

In [31]:
bpred[1:100]

array([125.68409748, 125.68409748, 125.68409748, 125.68409748,
       125.68409748,  86.29370277, 125.68409748, 125.68409748,
       125.68409748,  86.29370277,  86.29370277,  86.29370277,
        86.29370277, 106.69783403,  86.29370277, 106.69783403,
        86.29370277,  86.29370277, 106.69783403, 106.69783403,
       117.92886443,  86.29370277,  86.29370277, 125.68409748,
       105.27996622, 125.68409748, 125.68409748, 125.68409748,
        86.29370277, 125.68409748, 125.68409748, 125.68409748,
       125.68409748, 125.68409748, 125.68409748, 125.68409748,
       125.68409748, 125.68409748, 125.68409748, 125.68409748,
       125.68409748, 125.68409748, 122.20830013,  97.52473317,
       122.20830013, 122.20830013,  86.90793224, 125.68409748,
       122.20830013,  98.94260099,  98.94260099, 125.68409748,
       105.27996622, 125.68409748, 125.68409748, 125.68409748,
        86.29370277, 125.68409748,  97.52473317, 125.68409748,
       105.27996622, 125.68409748, 125.68409748, 125.68409748,
       125.68409748, 125.68409748, 105.27996622, 110.17363138,
       125.68409748, 102.41839833, 125.68409748,  97.52473317,
       125.68409748, 125.68409748, 105.27996622,  94.04893582,
       105.27996622,  94.04893582, 125.68409748,  94.04893582,
        94.04893582, 125.68409748, 125.68409748,  94.04893582,
       114.45306708,  94.04893582, 105.27996622,  94.04893582,
        94.04893582,  94.04893582, 114.45306708, 114.45306708,
        94.04893582, 114.45306708,  94.04893582,  94.04893582,
       114.45306708, 114.45306708,  94.04893582])

In [32]:
np.min(bpred)

13.041037389777742

In [33]:
np.max(bpred)

172.5006740036936

In [34]:
np.mean(bpred)

101.36936304146307

In [35]:
np.min(btest)

0.0

In [36]:
np.max(btest)

5400.0

In [37]:
np.mean(btest)

105.30446539770578